html,body,.background{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
}


.background{
    
    position: fixed;

    background:gainsboro;
}
.tableOut{

    z-index: 0;
    background: white;
    margin-top:10%;
    margin-bottom:10%;
    margin-left: auto;
    margin-right:auto;
    width:60%;
    height:60%;
    border-radius:  3px;

    box-shadow: 0px 0px 20px rgba(210,210,210,1);
}
.calendar{
    font-family:"微软雅黑 Light";
    padding:5%;
    height:100%;
    width:50%;
    background: rgba(255,255,255,1);
    float: left;
    box-shadow: 0px 10px 50px rgba(210,210,210,1);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.show{
    -webkit-transform: translate(0,-10%);
    -moz-transform: translate(0,-10%);
    -ms-transform: translate(0,-10%);
    -o-transform: translate(0,-10%);
    transform: translate(0,-10%);
    height:120%;
    width:50%;
    background:rgba(255,100,100,1);
    float: left;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 10px 50px rgba(255,100,100,1);
    font-family:"微软雅黑 Light";
}
.h1{
    color: white;
    font-size:40px;
    margin-left:auto;
    margin-left:auto;
    text-align: center;
    width:100%;
}
tr,p{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
tr td{
    cursor:pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
tr th{
    cursor:pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
tr{
    text-align: center;
}
tr td:hover p{
    color: white;
}
.title:hover{
    color: black;
}
.last:hover{

    cursor:pointer;
}
.next:hover{
    cursor:pointer;
}

tr th:nth-child(1){
    color: rgba(255,100,100,1);
}

tr td:nth-child(1){
    color: rgba(255,100,100,1);
}
tr td:nth-child(1):hover{
    color: white;
}
tr td:nth-child(1){
    color: rgba(255,100,100,1);
}
tr th:nth-child(7){
    color: rgba(255,100,100,1);
}

tr td:nth-child(7){
    color: rgba(255,100,100,1);
}
tr td:nth-child(7):hover{
    color: white;
}

.bk{
    overflow: visible;
    padding-top: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;;
    height:30px;
    width:40px;
    border-radius: 20px;
}
.last p{
    overflow: visible;
    padding-top: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;;
    height:30px;
    width:40px;
    border-radius: 20px;
}
.next p{
    overflow: visible;
    padding-top: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;;
    height:30px;
    width:40px;
    border-radius: 20px;
}
.last:hover p {
    color: white;
    background: rgba(255, 100, 100, 1);

}
.next:hover p{
    color:white;
    background:rgba(255,100,100,1) ;
}
td:hover .bk{
    background:rgba(255,100,100,1) ;
}
.P-click{
    background:rgba(255,100,100,1) ;
    color: white;
}
.P-hidden{
    display: none;
}

.week{
    margin-top:5%;
    color: white;
    font-size:20px;
    margin-left:auto;
    margin-left:auto;
    text-align: center;
    width:100%;
}
.data{
    color: white;
    font-size:140px;
    margin-left:auto;
    margin-left:auto;
    text-align: center;
    width:100%;
}
.work{
    margin-top:5%;
    color: white;
    font-size:20px;
    margin-left:auto;
    margin-left:auto;
    text-align: center;
    width:100%;
}


    .youke{

        font-size:15px;
        text-align: left;
        margin-left:10%;
    }



